<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
              <behavior name="mexBehavior">
                <serviceMetadata httpGetEnabled="true"/>
                <serviceDebug includeExceptionDetailInFaults="true"/>
              </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="ServerApp.CommunicationService" 
                     behaviorConfiguration="mexBehavior">
             <endpoint name="CommunicationService" 
                       binding="netTcpBinding"  
                       contract="ServerApp.ICommunicationService"/>            
              <endpoint address="mex"
                        binding="mexTcpBinding"
                        contract="IMetadataExchange"/>
              <host>
                <baseAddresses>
                  <add baseAddress="http://localhost:8080"/>
                  <add baseAddress="net.tcp://localhost:8090"/>
                </baseAddresses>
              </host>
            </service>
      </services>
    </system.serviceModel>
</configuration>