<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServerConnectionService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:19999/ConnectionService.ServerConnectionService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServerConnectionService"
        contract="ServerConnectionService.IServerConnectionService"
        name="BasicHttpBinding_IServerConnectionService" />
    </client>
    <services>
      <service name="ServerApp.CommunicationService" behaviorConfiguration="mexBehavior">
        <endpoint address="" binding="wsDualHttpBinding" contract="ServerApp.ICommunicationService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.13.0" newVersion="5.8.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>