<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReceiver" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:65413/CommandsReceiverService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReceiver"
                contract="HandlerService.IReceiver" name="BasicHttpBinding_IReceiver" />
        </client>
    </system.serviceModel>
</configuration>